{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Floodtags">
	<meta http-equiv="refresh" content="600">

    <title>{% block title %}Relevancer Dashboard{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/js/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-datetimepicker.min.css' %}" />

    <!--external css-->
    <link rel="stylesheet" href="{% static 'dashboard/font-awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lineicons/style.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/leaflet.css' %}">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/style-responsive.css' %}" />
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="#" class="logo"><b>Relevancer - {% block pagename %}Dashboard{% endblock %}</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">

                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <!--li><a class="logout" href="http://floodtags.com"><img src="{% static 'dashboard/img/logo-floodtags.png' %}" class="img" width="60"></a></li-->
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->

              <ul class="sidebar-menu" id="nav-accordion">
                
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Analyze</span>
                      </a>

                      <ul class="sub"><br>
                        <form method="post" action="{% url 'dashhome' %}">
                        {% csrf_token %}
							<div class="form-group" style="position:relative;">
								<select name="datasetname" class="btn dropdown-toggle" style="font-size:0.9em;" required>
										<option value="" selected> -- select the dataset -- </option>
										{% for coll in collectionlist %}
												<option value="{{coll}}">{{coll}}</option>									
										{% endfor %}
								</select>
							</div>
                            <div class="form-group" style="position:relative;">
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type="text" name="since" placeholder="since" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" style="position:relative;">
                                <div class='input-group date' id='datetimepicker7'>
                                    <input type="text" name="until" placeholder="until" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <!--input type="text" name="since" placeholder="since (dd-mm-yyyy,hh:mm)" class="form-control"/>
                            <input type="text" name="until" placeholder="until (dd-mm-yyyy,hh:mm)" class="form-control" /-->        
                            <div class="form-group"><input type="text" name="term" placeholder="term" class="form-control"/></div>
							<div class="form-group"><input type="checkbox" name="hasLocation" value="hasLocation"/><b style="color:white; margin:10px;">Has Location</b></div>
                            <button type="submit" name="analyze" value="Search" class='btn btn-theme'>Search</button>
                        </form>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

			{% if dcfilepath %}

				{% if overview_filepath %}

				<div class="row"> 

					<div class='panel-body text-center'>
							<div class='content-panel pn'>
					  			<div class='panel-body'>
								  <div class="row">
								            <div id="chart-line-overview" class="dc-chart"></div>
								  </div>
								  <div class="row">
								      <form class='form-inline' id='inlineforms' method="post" action="{% url 'dashhome' %}">
								      {% csrf_token %}
								          <input type="hidden" name="since" value="{{ since }}"  class="form-control"/>
								          <input type="hidden" name="until" value="{{ until }}" class="form-control"/>
								          <input type="hidden" name="term"  value="{{ term }}" class="form-control"/>
										  <input type="hidden" name="datasetnameft"  value="{{ datasetname }}" class="form-control"/>
										  <input type="hidden" name="hasLocationft"  value="{{ hasLocation }}" class="form-control"/>
								          <div class='form-group'>
								              <select name="newdates" class="form-control" required>
								                    <option value="" selected> -- Select a date range --</option>
								                    {% for x in datelistzip %}
								                            <option value="{{ x.firstdate }}|{{ x.seconddate }}" >from {{ x.firstdate }} to {{ x.seconddate }}</option>
								                    {% endfor %}
								              </select>
								              <button type="submit" name="analyzefurther" value="Search" class='btn btn-theme'>Submit</button>
								        </div>   
								      </form>
								  </div>
					  			</div>
							</div>
					</div>
				</div>

				{% endif %}
        
              <div class="row">
                  <div class="col-lg-8 main-chart">

                    <div class='panel-body text-center'>

                        <div class="row">
                              {% if until %}Now showing the data from <b>{{ newsince }}</b> until <b>{{ newuntil }}</b> for the dataset <b>{{ datasetname }}</b>{% else %}{% endif %}
                        </div><br>

                        <div class="row">
                              <div class="white-panel pn">
                                  <div class="white-header">
                                            <h4>Timeline <small><a id="time">reset</a></small></h4>
                                  </div>    
                                  <div class="row">
                                            <div id="chart-line-time" class="dc-chart"></div>
                                  </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="dc-data-count dc-chart" id="data-count">
                            <h2>
                              <small>
                                <span class="filter-count">0</span> selected out of <span class="total-count">0</span> records |
                                 <a id="all" href="#">Reset All</a>
                                </span>
                              </small>
                            </h2>
                          </div>
                        </div>

						{% if hasLocation == 'True' %}
                        <div class="row"> 
						{% else %}
						<div class="row" style="display:none;"> 
						{% endif %}
                            <div class='content-panel pn'>
                              <div class='panel-body'>
                                    <div id="map"></div>
                              </div>
                            </div>
                        </div>



                        <div class="row mt">

                            <div class="col-md-4 col-sm-4 mb">
                              <div class="white-panel pn">
                                    <div class="white-header">
                                           <h5>Day <small><a id="day">reset</a></small></h5>
                                    </div>
                                    <div class="row">
                                          <div id="chart-ring-day" class="dc-chart"></div>
                                    </div>
                              </div>
                            </div>


                            <div class="col-md-4 col-sm-4 mb">
                              <div class="white-panel pn">
                                    <div class="white-header">
                                           <h5>Month <small><a id="month">reset</a></small></h5>
                                    </div>
                                    <div class="row">
                                          <div id="chart-ring-month" class="dc-chart"></div>
                                    </div>
                              </div>
                            </div>


                            <div class="col-md-4 col-sm-4 mb">
                              <div class="white-panel pn">
                                    <div class="white-header">
                                           <h5>Year <small><a id="year">reset</a></small></h5>
                                    </div>
                                    <div class="row">
                                          <div id="chart-ring-year" class="dc-chart"></div>
                                    </div>
                              </div>
                            </div>

                        </div><!--row mt-->       

                  </div>

					
          </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  <div class="col-lg-4">

                          <div class="row mt"> 

                              <div class="white-panel pn">
                                    <div class="white-header">
                                              <h4>Tweets</h4>
                                    </div>
                                    <div class='panel-body text-center' >
                                             <table class="table table-bordered table-striped" id="data-table">
                                              </table>
                                    </div>
                              </div>

                          </div>
                      
                  </div><!-- /col-lg-3 -->
              </div><!--/row -->

			{% else %}	

				<br>Please click 'Analyze' on the sidebar and make a search first.

			{% endif %}

          </section>
      </section>

      <!-- **********************************************************************************************************************************************************
      END OF THE PAGE
      *********************************************************************************************************************************************************** -->                  
        

  </section>


  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/js/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery.dcjqaccordion.2.7.js' %}" class="include" type="text/javascript"></script>
  <script src="{% static 'dashboard/js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'dashboard/js/jquery.sparkline.js' %}"></script>

  <!-- Datetime Picker -->
  <script src="{% static 'dashboard/js/moment.min.js' %}"></script>
  <script src="{% static 'dashboard/js/nl.js' %}"></script>
  <script src="{% static 'dashboard/js/bootstrap/js/collapse.js' %}"></script>
  <script src="{% static 'dashboard/js/bootstrap/js/transition.js' %}"></script> 
  <script src="{% static 'dashboard/js/bootstrap-datetimepicker.min.js' %}"></script>

  <!-- Data Visualisation - dc.js -->
  <script src="{% static 'dashboard/js/d3.js' %}" type="text/javascript"></script>
  <script src="{% static 'dashboard/js/crossfilter.js' %}" type="text/javascript"></script>
  <script src="{% static 'dashboard/js/dc.js' %}" type="text/javascript"></script>
  <script src="{% static 'dashboard/js/underscore-min.js' %}" type="text/javascript"></script>

  <!-- Data Visualisation - AmChart -->
  <script src="{% static 'dashboard/js/amcharts/amcharts.js' %}"></script>
  <script src="{% static 'dashboard/js/amcharts/serial.js' %}"></script>
  <script src="{% static 'dashboard/js/amcharts/plugins/export/export.min.js' %}"></script>
  <script src="{% static 'dashboard/js/amcharts/plugins/dataloader/dataloader.min.js' %}"></script>

  <!-- Leaflet Map -->
  <script src="{% static 'dashboard/js/leaflet/leaflet.js' %}" type="text/javascript"></script>

  <!--common script for all pages-->
  <script src="{% static 'dashboard/js/common-scripts.js' %}"></script>
  
  <!-- Alert Pop-up of Event Notifier -->
  <script src="{% static 'dashboard/js/gritter/js/jquery.gritter.js' %}" type="text/javascript"></script>
  <script src="{% static 'dashboard/js/gritter/gritter-conf.js' %}" type="text/javascript"></script>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            maxDate: new Date(),
            locale: 'nl',
            format: 'DD-MM-YYYY, HH:mm',
            useCurrent: false,
        });
        $('#datetimepicker7').datetimepicker({
            maxDate: new Date(),
            locale: 'nl',
            format: 'DD-MM-YYYY, HH:mm',
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>

<script type="application/javascript">
    var width = document.getElementById('chart-line-time').offsetWidth;


	var map = L.map('map');
	var tweetMarkers = new L.FeatureGroup();

	L.tileLayer('https://api.tiles.mapbox.com/v4/siggyf.c74e2e04/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic2lnZ3lmIiwiYSI6Il8xOGdYdlEifQ.3-JZpqwUa3hydjAJFXIlMA', {
	  id: 'Mapbox',
	  maxZoom: 16
	} ).addTo(map);


    // dc.js code

    // Parse JSON file

    d3.json("{% static dcfilepath %}", function (error, data) {
      var floodData = data;

      var timeOfDayFormat = d3.time.format('%H:%M');
      var dateFormat = d3.time.format('%d-%m-%Y %H:%M');

      var yearFormat = d3.time.format('%Y');
      var monthFormat = d3.time.format('%m');
      var dayOfWeekFormat = d3.time.format('%a');


      _.each(floodData, function(d) {
        	d.count = +d.count;
       		d.dt = new Date(d.date);
        	d.dt_time = timeOfDayFormat(d.dt);
        	d.dt_date = dateFormat(d.dt);
            d.dt_year = +yearFormat(d.dt);
            d.dt_month = monthFormat(d.dt);
            d.dt_day = dayOfWeekFormat(d.dt);
      });

      
      // set crossfilter
      var ndx = crossfilter(floodData);
      

      // create dimensions (x-axis values)
      var timeOfDayDim = ndx.dimension(function(d) {return d3.time.minute(d.dt);});
      var yearDim  = ndx.dimension(function(d) {return d.dt_year;});
      var monthDim  = ndx.dimension(dc.pluck('dt_month'));
      var dayOfWeekDim = ndx.dimension(dc.pluck('dt_day'));
      var allDim = ndx.dimension(function(d) {return d;});


      // create groups (y-axis values)
      var countPerTime = timeOfDayDim.group().reduceCount(function(d) { return d.dt; });
      var countPerYear = yearDim.group().reduceCount();
      var countPerMonth = monthDim.group().reduceCount();
      var countPerDay = dayOfWeekDim.group().reduceCount();
	  var all = ndx.groupAll();


      // specify charts
      var timeChart   = dc.barChart('#chart-line-time');
      var dataCount = dc.dataCount('#data-count');
      var dataTable = dc.dataTable('#data-table');

      var yearChart   = dc.pieChart('#chart-ring-year');
      var monthChart   = dc.pieChart('#chart-ring-month');
      var dayChart   = dc.pieChart('#chart-ring-day');



      yearChart
          .width(150)
          .height(150)
          .dimension(yearDim)
          .group(countPerYear)
          .innerRadius(20);

      monthChart
          .width(150)
          .height(150)
          .dimension(monthDim)
          .group(countPerMonth)
          .innerRadius(20)
          .ordering(function (d) {
            var order = {
              'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4,
              'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8,
              'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
            };
            return order[d.key];
          });

      dayChart
          .width(150)
          .height(150)
          .dimension(dayOfWeekDim)
          .group(countPerDay)
          .innerRadius(20)
          .ordering(function (d) {
            var order = {
              'Mon': 0, 'Tue': 1, 'Wed': 2, 'Thu': 3,
              'Fri': 4, 'Sat': 5, 'Sun': 6
            }
            return order[d.key];
          }
         );


      timeChart.width(width)
          .height(150)
          .transitionDuration(500)
      //    .mouseZoomable(true)
          .dimension(timeOfDayDim)
          .group(countPerTime)
          .brushOn(true)   
          .x(d3.time.scale().domain(d3.extent(data, function(d) { return d.dt; })))
          .xAxis();


      dataCount
          .dimension(ndx)
          .group(all);

      dataTable
        .dimension(allDim)
        .group(function (d) { return 'all'; })
        .size(20)
        .columns([
            function (d) { return d.text; },
            function (d) { return d.dt_time; },
            //function (d) { return d.locations[0].name; },
        ])
        .sortBy(dc.pluck('date'))
        .order(d3.ascending)
        .on('renderlet', function (table) {
          // each time table is rendered remove nasty extra row dc.js insists on adding
          table.select('tr.dc-table-group').remove();


	  // update map with breweries to match filtered data
	  tweetMarkers.clearLayers();
	      _.each(allDim.top(Infinity), function (d) {
	          var loc = d.locations[0].loc;
	          var tweet = d.text;
	          var icon1 = new L.Icon.Default();
	          var marker = L.marker([loc.lat, loc.lon], {icon: icon1});
	          marker.bindPopup("<p><b>Tweet</b>:" + tweet + "</p>");
	          tweetMarkers.addLayer(marker);
	      });
	      map.addLayer(tweetMarkers);
	      map.fitBounds(tweetMarkers.getBounds());
	  });


      // register handlers
      d3.selectAll('a#all').on('click', function () {
        dc.filterAll();
        dc.renderAll();
      });

      d3.selectAll('a#year').on('click', function () {
        yearChart.filterAll();
        dc.redrawAll();
      });

      d3.selectAll('a#month').on('click', function () {
        monthChart.filterAll();
        dc.redrawAll();
      });

      d3.selectAll('a#day').on('click', function () {
        dayChart.filterAll();
        dc.redrawAll();
      });

      d3.selectAll('a#time').on('click', function () {
        timeChart.filterAll();
        dc.redrawAll();
      });

      // showtime!
      dc.renderAll();

      window.onresize = function(event) {
        var newWidth = document.getElementById('chart-line-time').offsetWidth;
        timeChart.width(newWidth)
          .transitionDuration(0);
        dc.renderAll();
        timeChart.transitionDuration(750);
    };


    });

</script>

{% if overview_filepath %}


  <script type="application/javascript">
        var width = document.getElementById('chart-line-overview').offsetWidth;
        var overviewChart = AmCharts.makeChart("chart-line-overview", {
            "type": "serial",
            "theme": "light",
            "marginRight": 40,
            "marginLeft": 40,
            "fillColor":"#0078b9",
            "autoMarginOffset": 20,
            "mouseWheelZoomEnabled":false,
            "dataDateFormat": "YYYY-MM-DD, JJ:NN:SS",
            "valueAxes": [{
                "id": "v1",
                "axisAlpha": 0,
                "position": "left",
                "ignoreAxisWidth":true
            }],
            "balloon": {
                "borderThickness": 1,
                "shadowAlpha": 0
            },
            "graphs": [{
                "id": "g1",
                "fillColors":"#0078b9",
                "lineColor":"#0078b9",
                "balloon":{
                  "drop":true,
                  "adjustBorderColor":false,
                  "color":"#ffffff"
                },
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#0078b9",
                "bulletSize": 1,
                "hideBulletsCount": 50,
                "lineThickness": 1,
                "useLineColorForBulletBorder": true,
                "valueField": "value",
                "balloonText": "<span style='font-size:12px;'>[[value]]</span>"
            }],
            "chartCursor": {
                "pan": true,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "cursorAlpha":1,
                "cursorColor":"#68dff0",
                "limitToGraph":"g1",
                "valueLineAlpha":0.2,
                "valueZoomable":true
            },
            "valueScrollbar":{
              "oppositeAxis":false,
              "offset":80,
              "scrollbarHeight":1
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "dashLength": 3,
                "minPeriod":"mm",
            },
            /*"export": {
                "enabled": true
            },*/
            "dataLoader": {
                "url": "{% static overview_filepath %}",
                "format": "json",
            }  
        });
        overviewChart.addListener("rendered", zoomChart);
        zoomChart();
        function zoomChart() {
            overviewChart.zoomToIndexes(overviewChart.dataProvider.length - 40, overviewChart.dataProvider.length - 1);
        }
        window.onresize = function(event) {
            var newWidth = document.getElementById('chart-line-time').offsetWidth;
            overviewChart.width(newWidth)
              .transitionDuration(0);
        };
        
  </script>

  {% endif %}


  </body>
</html>
