{% extends "base.html" %}

{% block title %}About - Relevancer{% endblock %}


{% block menu %}	
				<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
				<li><a href="{% url 'howdoesitwork' 'Introduction' %}" accesskey="2" title="">How Does It Work?</a></li>
				<li><a href="{% url 'datasets' %}" accesskey="3" title="">Clusters</a></li>
				<li><a href="{% url 'getfilter' %}" accesskey="4" title="">Analysis Filter</a></li>
				<li><a href="{% url 'about' %}" accesskey="5" title="">About</a></li>
{% endblock %}


{% block main %}


    		<div class="title">
				<h2>404 Page not Found</h2>
			</div>
			
			Sitemap;
			
			<ul>
					<li class="active"><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
					<li><a href="{% url 'howdoesitwork' 'Introduction' %}" accesskey="1" title="">How Does It Work?</a></li>
					<li><a href="{% url 'datasets' %}" accesskey="2" title="">Clusters</a></li>
					<li><a href="{% url 'about' %}" accesskey="3" title="">About</a></li>
			</ul>




{% endblock %}
