{% extends "getfilter.html" %}

{% block title %}Analyse Metadata - Relevancer{% endblock %}


{% block main %}


{% if analyse == "e_" %}

		<h4>'{{ collname }}' is not yet analysed</h4>
			
		<br>
			
		<h3><a href="{% url 'analysedata' collname 'ing_' %}" style="color: #006600;">
				Analyse the data now...</a></h3> (This may take a while)	<br>

{% elif analyse == "ing_" %}

		<h3>Work in progres...</h3>

		<h4> We are analysing the '{{ collname }}' collection. Please come back after a while</h4>


{% endif %}

{% endblock %}