{% extends "datasets.html" %}

{% block title %}Classifiers - Relevancer{% endblock %}


{% block main %}
				
				
		{% if filelist %}			
			
			<h2>Classifiers</h2><br>

			<h3><a href="/datasets/{{ collname }}/generate_classifier" style="color: #006600;">
				Generate a new one now...</a></h3> (This may take a while, please come back later)	<br><br><br>
		
			<ul>
			{% for filename in filelist %}
					<li>
							{{ filename }}   <a href="/datasets/classifiers/{{ filename }}/downloadfile">Download Classifier</a> or <a href="/datasets/allfilter/{{ filename }}/downloadfile">Download Complete Filter </a> or <a href="/datasets/reports/{{ filename }}/displayfile" >Evalution Report</a> or <a href="/datasets/{{ filename }}/evaluationyourself">Evaluate Yourself</a>
					</li>
			{% endfor %}
			</ul>
		
			
		{% else %}
		
			<h4>There is not any classifier for '{{ collname }}'</h4>
			
			<br>
			
			<h3><a href="/datasets/{{ collname }}/generate_classifier" style="color: #006600;">
				Generate one now...</a></h3><br>
				
		{% endif %}
	

{% endblock %}
