{% extends "getfilter.html" %}

{% block title %}Password Confirmation - Relevancer{% endblock %}


{% block main %}
		
		
	<h3>You are about to {{ event }} <a style="color: #0000FF;">'{{ thing }}'</a></h3>
	<h4>Please submit your password for action;</h4>

	<h5><a style="color: #FF0000;">{{ denied_msg }}</a></h5>
	
	
	{% if action == 'filter' %}	
 	
	 	<form method="post" name="confirmpassform" action="{% url 'getfiltersteps' thing %}">
			{% csrf_token %}
				<input type="password" name="user_pass"  placeholder="write your password here" required autofocus/><br><br>
				<input type="submit" name="confirmpass"  value="Submit" class="btn subthreecol">
	 	</form>

 	
	{% endif %}



{% endblock %}
