{% extends "datasets.html" %}

{% block title %}Classifiers - Relevancer{% endblock %}


{% block main %}
				
				
				
			
			<h2>Evaluate Yourself</h2><br>
        <b> Used key word: </b> {{used_keyword}} </br>
	<b>Excluded users : </b>
	{% for user in excluded_user %}
		{% if forloop.first %}{% else %}
        	{% if forloop.last %}, {% else %}, {% endif %}
    	{% endif %}@{{user}}
	{% endfor %}<br>
	<b>Excluded hashtags : </b>
	{% for htag in excluded_htag %}
		{% if forloop.first %}{% else %}
        	{% if forloop.last %}, {% else %}, {% endif %}
    	{% endif %}{{htag}}
	{% endfor %}<br><br>
		
	<h3>Option 1: Manual Evaluation </h3><br>
	<form method="post" id="testformid" style="width:600px; margin: 0 auto;">
		<p style="color:red">Please put one tweet, which contain the key term <u>{{used_keyword}}</u>, per line. </p>
		{% csrf_token %}
		<textarea form ="testformid" name="taname" rows="4" cols="50"></textarea>
		<input type="submit" name="evaluate" value="Evaluate" /><br><br>
	</form> <br> 

		{% if after_evaluate %}
		<ul>
			<form method="post">
			{% csrf_token %}
			<table  align="center" width="750px"  style="border: 1px solid black">
					<tr>
						<th  style="border: 1px solid black">Tweets</th>
						<th  style="border: 1px solid black">Prediction</th>
						<th  style="border: 1px solid black">Feedback</th>
					</tr>
					{% for line in after_evaluate %}
					<tr>
					
						<td  style="border: 1px solid black">
							{{line.0}}
						</td>
						<td  style="border: 1px solid black ">
							<li style="background-color:yellow">{{line.1}}</li>
						</td>
				
						<td  style="border: 1px solid black">
							
						
							{% if line.1 not in class_list%}
								No prediction, no feedback.							
							{% else %}
									<!-- value="{'feedback':'{{ line.1 }}','text':'{{ line.0 }}','prediction':'{{ line.1 }}'}' selected > {{line.1}} -->
								<select name="vote">
									<option

value="feedback:::{{ line.1 }}:::prediction:::{{ line.1 }}:::text:::{{ line.0 }}" selected > {{line.1}}
									</option> 
									{% for feed in class_list %}
										{% if feed == line.1 %}
										{% else %}
											<option value="feedback:::{{ feed }}:::prediction:::{{ line.1 }}:::text:::{{ line.0 }}">{{ feed }}</option>
										{% endif %}									
									{% endfor %}
								</select>
							{% endif %}
								
							
						</td>
					</tr>
					{% endfor %}
			</table><br>
			<input type="submit" name="submitvalues" value="Submit Values" /></form>
		</ul><br>
		{% elif tweet_pre_feed_list%}
				prediction true rate1 :
				<h2>%{{feedback_rate}}</h2><br>
			<ul>
				<table align="center" width="750px"  style="border: 1px solid black">
					<tr>
						<th  style="border: 1px solid black">Tweets</th>
						<th  style="border: 1px solid black">Feedback</th>
					</tr>
					{% for item in tweet_pre_feed_list%}
					<tr>					
						<td  style="border: 1px solid black">{{item.text}}</td>
						<td  style="border: 1px solid black ; background-color:yellow ">{{item.feedback}}</td>					
					</tr>
					{% endfor %}
					</table><br></ul><br>
		{% endif %}

		
	<br><br>
	<h3>Option 2: Retrieve and classify <u>{{used_keyword}}</u> containing tweets from Twitter search API</h3><br>
	
	<form method="post" id="testformid2" style="width:500px; margin: 0 auto;">
	{% csrf_token %}
		<input type="submit" name="evaluaterealdata" value="Evaluate Real Data" />
	</form> <br>
		{% if results %}
		<ul>
			<form method="post">
				{% csrf_token %}
				<table width="1000px"  style="border: 1px solid black">
						<tr>
							<th  style="border: 1px solid black">Tweets</th>
							<th  style="border: 1px solid black">Prediction</th>
							<th  style="border: 1px solid black">Feedback</th>
						</tr>
						{% for line in results %}
						<tr>
					
							<td  style="border: 1px solid black">
								{{line.0}}
							</td>
							<td  style="border: 1px solid black">
								<a style="background-color:yellow">{{line.1}}</a>
							</td>
						
					
							<td  style="border: 1px solid black">
											
								{% if line.1 not in class_list%}
									No prediction no feedback.							
								{% else %}							
									<select name="tweetvote">
										<option value="feedback:::{{ line.1 }}:::prediction:::{{ line.1 }}:::text:::{{ line.0 }}" selected > {{line.1}} </option>
										{% for feed in class_list %}
											{% if feed == line.1 %}
											{% else %}
												<option value="feedback:::{{ feed }}:::prediction:::{{ line.1 }}:::text:::{{ line.0 }}">{{ feed }}</option>
											{% endif %}									
										{% endfor %}
										</select>
								{% endif %}									
							</td>
						</tr>
						{% endfor %}
				</table><br>
		<input type="submit" name="submittweetvalues" value="Submit Values" /></form> 
		</ul><br>
		{% elif tweet_pre_feed_list_new%}
				prediction true rate2 :
			<!--	<h2>%{{feedback_rate}}</h2><br> -->
			<p>{% autoescape off %}{{ feedback_rate }}{% endautoescape %}</p>
			
			<ul>
				<table align="center" width="750px"  style="border: 1px solid black">
					<tr>
						<th  style="border: 1px solid black">Tweets</th>
						<th  style="border: 1px solid black">Feedback</th>
					</tr>
					{% for item in tweet_pre_feed_list_new%}
					<tr>					
						<td  style="border: 1px solid black">{{item.text}}</td>
						<td  style="border: 1px solid black ; background-color:yellow ">{{item.feedback}}</td>					
					</tr>
					{% endfor %}
					</table><br></ul><br>
		{% endif %}
	



			

				
	
	

{% endblock %}
