{% extends "datasets.html" %}

{% block title %}Backups - Relevancer{% endblock %}


{% block main %}
				
				
		{% if filelist %}			
			
			<h2>Backup Files</h2><br><br>

			<h3><a href="/datasets/{{ collname }}/backup" style="color: #006600;">
				Backup the current state now...</a></h3> (This may take a while, please wait)	<br><br>
			
			<h4>Choose one of them to load it back.</h4>
		
			<ul>
			{% for filename in filelist %}
					<li>
							{{ filename }}   <a href="/datasets/{{ filename }}/loadback">Load it Back</a> or <a href="/datasets/backups/{{ filename }}/download">Download</a>  or <a href="/datasets/backups/{{ filename }}/evaluate">Evaluate</a>
					</li>
			{% endfor %}
			</ul>
		
			
		{% else %}
		
			<h4>There is not any backup file for '{{ collname }}'</h4>
			
			<br>
			
			<h3><a href="/datasets/{{ collname }}/backup" style="color: #006600;">
				Backup one now...</a></h3> (This may take a while)	<br>
				
		{% endif %}
	

{% endblock %}
