	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: rgba(0,0,0,.6);
	}
/*the blue: 2056ac*/


	#filternames{
		text-align:center;
		border-radius: 0px;
        border: 1px solid #A9A9A9;
    	padding: 10px;
    	width: 30%;
    	height: 100px;
    	margin: 0 auto;
    	overflow: scroll;

	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
		padding: 0 100px;
		text-align: justify;
    	text-justify: inter-word;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2056ac;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 100%;
	}
	#menu-toggle {
   		display: none; /* hide the checkbox */
	}
	#menu-toggle-0 {

  		display: none;
  		margin: 0 auto
	}
	#menu-toggle:checked + #menu-toggle-0 {
  		display: block;
	}
	#menu-label{

		width: 20%;
		margin: 0 auto;		
	}
	
	
	
/*********************************************************************************/
/* GITHUB BANNER                                                                 */
/*********************************************************************************/
	
	
#forkongithub a{background:#2056ac;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}

#forkongithub a:hover{background:#000;color:#fff;}

#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}

#forkongithub a::after{bottom:1px;top:auto;}

@media screen and (max-width:1px){

	#forkongithub{position:fixed;display:block;top:0;left:0;width:200px;overflow:hidden;height:200px;z-index:9999;}

	#forkongithub a{width:200px;position:absolute;top:60px;left:-60px;}}
	

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
		}
		
			form label
			{
				cursor: pointer;
				display: block;
				text-align: center;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				text-align: center;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 50%;
				border-radius: 0.50em;
				margin: 0 auto;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				#uploadform textarea{
					padding: 1em;
					min-height : 1em;
					width: 25%;
					font-size: 0.8em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul li
	{
		line-height: 1.5em;
	}

	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/


	
.btn {
  background: #2056ac;
  background-image: -webkit-linear-gradient(top, #2056ac, #2056ac);
  background-image: -moz-linear-gradient(top, #2056ac, #2056ac);
  background-image: -ms-linear-gradient(top, #2056ac, #2056ac);
  background-image: -o-linear-gradient(top, #2056ac, #2056ac);
  background-image: linear-gradient(to bottom, #2056ac, #2056ac);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
}


.subthreecol{ 
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 50px;
}


.btn:hover {
  background: #6aa0f6;
  background-image: -webkit-linear-gradient(top, #6aa0f6, #6aa0f6);
  background-image: -moz-linear-gradient(top, #6aa0f6, #6aa0f6);
  background-image: -ms-linear-gradient(top, #6aa0f6, #6aa0f6);
  background-image: -o-linear-gradient(top, #6aa0f6, #6aa0f6);
  background-image: linear-gradient(to bottom, #6aa0f6, #6aa0f6);
  text-decoration: none;
}

	


		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: #6F6F6F#;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		background: #2056ac;
	}

	#header
	{
		text-align: center;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 1em 0em 0em 0em;
	}
	
	#logo h1
	{
		display: block;
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		text-transform: uppercase;
		font-size: 2.90em;
		color: rgba(255,255,255,1);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		height: 60px;
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #FFF;
		border-radius: 7px 7px 0px 0px;
		color: #2056ac;
	}
	
	#menu .current_page_item a
	{
	}
	

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 5em;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		overflow: hidden;
		padding: 0em 0em 5em 0em;
		background: #FFF;
		min-height: 60%;
	}

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		overflow: hidden;
		background: #F3F3F3;
		padding: 5em 0em;
		text-align: center;
	}

	#wrapper3
	{
	}
	
	#wrapper4
	{
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		padding: 6em 0px 0em 0px;
		text-align: center;
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
	#welcome .title h2
	{
	}
	
	#welcome a,
	#welcome strong
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		background: #2F1E28;
		padding: 3em 0em 6em 0em;
		text-align: center;
	}

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 700px;
		padding-right: 100px;
		border-right: 1px solid rgba(0,0,0,.1);
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 350px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #E3F0F7;
		text-align: center;
	}


		
	#copyright .fbox
	{
		float: left;
		padding: 0px 40px;
	}
	
	#footer .icon
	{
		display: block;
		margin-bottom: 1em;
		font-size: 3em;
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 1em 0em 2em 0em;
		border-top: 2px solid rgba(32,86,172,0.8);
		text-align: center;
		clear: both;
		position: relative;
		z-index: 10;
		height: 3em;
	}
	
	#copyright a
	{
		margin-left: 20px;
		margin-right: 20px;
	}	
	
	#copyright #logocontainer
	{
		width: 100%;
		display: table;
   		margin: 0 auto;
	}
	
	#copyright h3
	{
		letter-spacing: 1px;
		color: rgba(32,86,172,0.6);
		margin-bottom: 15px;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}



/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
		overflow: hidden;
		padding-top: 5em;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		margin-top: 5em;
		padding-top: 1em;
		border-top: 1px solid rgba(0,0,0,0.2);
		text-align: center;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		font-size: 1.5em;
		font-weight: 700;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		background: none;
		line-height: 150px;
		font-size: 4em;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #67128F;
		text-align: center;
		color: #FFF;
		
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 320px;
		padding: 80px 40px 80px 40px;
	}
	
	#three-column .title
	{
		text-align: center;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}
	
	
	ul.tools
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	ul.tools li
	{
		display: inline-block;
		padding: 0em .2em;
		font-size: 4em;
	}
	
	ul.tools li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.tools li a
	{
		color: #FFF;
	}
	
	ul.tools li a:before
	{
		display: inline-block;
		background: #1ABC9C;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		line-height: 120px;
		text-align: center;
		color: #FFFFFF;
	}



	#excontainer {
		padding: 0px 20%;
	}

	#sectionblock{
		padding: 0px 5% 0px 9%;
	}


/*********************************************************************************/
/* Custom                                                                 */
/*********************************************************************************/


h3 > a{
	text-decoration:none;
}

ul table {
	margin: 0 auto;
}

#urlcluster {
	background-color:#8FCEEF;
}

#photoscluster {
	background-color:#BBCCF7;
}

#nopucluster {
	background-color:#6D90BF;
}


/*********************************************************************************/
/* Select                                                                 */
/*********************************************************************************/

form select,
.styled-select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   height: 34px;
   -webkit-appearance: none;
   color: #292929;
   margin: 0 auto;
   margin-top: 20px;
   border-radius: 0.50em;
	border: solid 1px rgba(0,0,0,0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="file"] {
	border-radius: 0.50em;
	border: solid 1px rgba(0,0,0,0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}



/*********************************************************************************/
/* Section                                                                 */
/*********************************************************************************/

	section{
		float: left; 
		width: 28%; 
		min-width: 475px;
		margin: 1%;
		margin-left: 1%;
		margin-top: 50px;
		padding: 10px;
		border: 1px solid #e9e9e9;
	}

/*****************************************************************************************************/
/*  Different screen sizes																			 */
/*****************************************************************************************************/


	@media only screen and (max-width:850px){
		header h1
		{
			display:block;
			margin: 20px 0;
		}

    }

	@media only screen and (max-width:1120px){
		section 
		{
			float: left; 
			width: 80%; 
			margin: 1px;
			margin-left: 8%;
			margin-top: 50px;
		}
    }


    @media only screen and  (min-width:1120px) and (max-width:1250px){
		section 
		{
			float: left; 
			width: 30%; 
			margin: 1px;
			margin-left: 2%;
			margin-top: 50px;
		}

    }


	@media only screen and (min-width:1251px) and (max-width:1810px){
		section 
		{
			float: left; 
			width: 42%; 
			margin: 1%;
			margin-left: 5%;
			margin-top: 50px;
		}
    }
	
	
